.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 64px;
  max-width: 1000px;
  min-height: 75vh;
  padding: 30px;
  margin: auto;
}

.about-image img {
  max-height: 500px;
  max-width: 400px;
  width: 100%;
}

.about-content {
  max-width: 50%;
}

.about-content h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #0a66c2;
  margin: 8px;

}

.about-content p {
  font-size: 14px;
  line-height: 1.5;
  color: #767676;
  margin: 8px;
}

/* SMALL */

@media (max-width: 576px) {
  .about-container {
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
    overflow: hidden;
  }

  .about-content {
    max-width: 100%;
  }
}

/* MEDIUM */
@media (max-width: 768px) {
  .about-image img {
    max-height: 250px;
    max-width: 250px;
  }

  .about-content p {
    font-size: 14px;
  }
}
