.technologies {
  display: flex;
  align-items: center;
  text-align: center;
  height: 24vh;
  max-width: 100%;
  color: white;
}

.technologies p {
  font-family: var(--font-family);
  font-size: 16px;
}

.technologies svg {
  width: 64px;
  height: 64px;
  color: white;
}


@media (max-width: 576px) {
  .technologies svg {
    width: 50px;
    height: 50px;
  }
  .technologies p {
font-size: 12px;

}
}