.cm__header {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  color: white;
  padding: 8rem 8rem;
}

/* Introduction  */
.cm__header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  /* padding: 2rem 4rem; */
  /* background-color: rgb(34, 154, 214); */
}

.cm__header-content h1 strong {
  font-size: 60px;
  color: #0a66c2;
  display: block; 
}

.cm__header-content h2 {
  font-size: 30px;
}

.links-icons {
  margin-top: 10px;
}

/* REACT ICONS */

.links-icons > a > svg {
  margin-right: 5px;
  transition: all 0.3s ease-in-out;
  color: white;
  width: 36px;
  height: 36px; 
}

.links-icons > a:hover > svg {
  transform: scale(1.2);
  color: #0a66c2;
}


/* **************************** IMAGE ****************************** */
.cm__image {
  margin-right: 5rem;
  /* background-color: rgb(34, 154, 214); */
}

.cm__image img {
  /* background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%); */
  animation: morph 8s ease-in-out infinite;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  height: 350px;

  transition: all 1s ease-in-out;
  width: 350px;
  z-index: 5;

  border-style: solid;
  border-color: rgb(255, 255, 255);

}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;

    /* background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%); */
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    /* background: linear-gradient(45deg, var(--third) 0%, var(--secondary) 100%); */
  }

  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    /* background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%); */
  }
}






