.cm__navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  padding: 2rem 2rem;
}

.cm__logo img {
  height: 5rem;
  width: auto;
}

/* .cm__logo img:hover {
  transform: scale(1.2);
  color: #FFA500;
} */

.cm__navbar-links ul {
  display: flex;
  flex-wrap: wrap;
}

.cm__navbar-links li {
  list-style: none;
}

.cm__navbar-links a {
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: white;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  display: block;
  transition: color 0.3s ease-in-out;
}

.cm__navbar-links a:hover {
  color: #ffa500;
}

 @media (max-width: 576px) {
  .cm__navbar {
    display: flex;
    flex-wrap: wrap;
  }
  .cm__navbar-links a {
    margin-top: 15px;
  }
 } 

/*  SMALL */
@media (max-width: 576px) {
  .cm__navbar {
    display: flex;
    flex-direction: column;
  }

  .cm__logo img {
    height: 4rem;
    width: auto;
  }
  .cm__navbar-links a {
    display: flex;
    flex-direction: column;
    /* font-size: 12px; */
    font-size: 16px;
    margin-top: 1rem;
  }
}

/*  MEDIUM */

@media (max-width: 768px) {
  .cm__navbar-links a {
    /* font-size: 16px; */
    padding: 10px;
  }
}

