.cm__navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  padding: 2rem 2rem;
}

.cm__logo img {
  height: 5rem;
  width: auto;
  cursor: pointer;
}

.cm__navbar-links ul {
  display: flex;
  flex-wrap: wrap;
}

.cm__navbar-links li {
  list-style: none;
}

.cm__navbar-links a {
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: white;
  margin: 1.2rem;
  display: block;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}

.cm__navbar-links a:hover {
  color: #ffa500;
}

@media (max-width: 576px) {
  .cm__navbar {
    display: flex;
    flex-wrap: wrap;
  }
  .cm__navbar-links a {
    margin-top: 15px;
  }
}

/*  SMALL */
@media (max-width: 576px) {
  .cm__navbar {
    display: flex;
    flex-direction: column;
  }

  .cm__navbar-links a {
    font-size: 12px;
  }

  .cm__logo img {
    height: 4rem;
    width: auto;
       /* new */
    margin-left: 20px;
    margin-bottom: 20px;
  }

  }
  .cm__navbar-links a {
    display: flex;
    flex-direction: column;
    /* font-size: 14px; */
    font-size: 16px;
    margin-top: 1rem;
    /* margin: 10px; */
  }


/*  MEDIUM */

@media (max-width: 768px) {
  .cm__navbar-links a {
    /* font-size: 16px;
    padding: 10px; */
    font-size: 14px;
    margin: 15px;
    padding: 0px;

  }
}
