.portfolio-container {
  display: flex;
  flex-direction: column;
  padding: 4rem;
}

.heading h2 {
  text-align: center;
  margin: 3rem;
  font-size: 24px;
}

.projects {
  display: flex;
  justify-content: space-around;
  gap: 3rem;
  max-width: 50%;
  margin: 1rem auto;
  padding: 2rem;
  background-color: rgb(255, 255, 255);
  border-radius: 1.7rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: 0.3s;
  margin-bottom: 3rem;
}

.projects:hover {
  transform: scale(1.1);
  box-shadow: 0 0 40px -10px rgba(37, 36, 36, 0.25);
}
.projects img {
  border-radius: 1rem;
  height: auto;
  width: 100%;
}

.content h2 {
  font-size: 18px;
  text-align: center;
  margin-bottom: 1rem;
  color: #0a66c2;
  
}

.content p {
  font-size: 16px;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 2rem;
  color: #767676;
}

.links {
  display: flex;
  justify-content: center;

}

.links button {
  display: flex;
  align-items: center;
  font-size: 16px;
  padding: 8px;
  margin-right: 10px;
  border-style: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  background-color: rgba(0, 40, 83, 1);
  transition: all 0.3s ease-in-out;
}

.links svg {
  height: 16px;
  width: 16px;
  margin-left: 3px;
}

.links button:hover {
  background-color: #0a66c2;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

@media screen and (max-width: 1024px) {
.projects {
    max-width: 75%;
}
.projects img {
    max-width: 100%;
}
}

